*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

button:hover{
    cursor: pointer;
    transform: scale(1.08);
    transition: .3s;
}


/* Nav Bar style section */
nav{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 7rem;
    background-color: rgba(0,0,0,0.8);
    position: sticky;
    top: 0;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 4rem;
}

ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: .3s;
}

ul li a:hover{
    color:orange;
}

/* Main style section */
/* First part */
#firstBody{
    display: flex;
    padding: 0.5rem 7rem;
    gap: 4rem;
    background-color: black;
    color: white;
}

#intro{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    margin: auto;
}

#intro button{
    width: 20%;
    padding: 10px 30px;
    border-radius: 7px;
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

/* Second part */
#secondBody{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#cards{
    display: flex;
    gap: 3rem;
}

.cardDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7rem;
    align-items: center;
}

.cardDetails a img{
   background-color: #3882F6;
   padding: 4px;
   border-radius: 7px;
   height: 12em;
   width: 15em;
   transition: .3s;
}
.cardDetails a img:hover{
   transform: scale(1.03);
}

/* Third Part */
#thirdBody{
    background-color: #E5E7EB;
    padding: 4rem 0;
    display: flex;
    justify-content: center;
}

#quote{
    font-weight: 100;
    font-size: 36px;
    font-style: italic;
    padding: 1rem;
}

#name{
    text-align: end;
    font-weight: bold;
}

/* Fourth part */
#fourthBody{
    display: flex;
    width: 50%;
    background-color: #3882F6;
    margin: 4rem auto;
    padding: 2rem 0rem;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
    color: white;
}

#fourthBody button{
    background-color: #3882F6;
    padding: 10px 30px;
    border-radius: 7px;
    color: white;
    border: 2px solid white;
    font-weight: bold;
}

/* Footer */

footer{
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 1.3rem;
}