*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}


/* Nav Bar style section */
nav{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 7rem;
    background-color: rgba(0,0,0,0.8);
    position: sticky;
    top: 0;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 4rem;
}

ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: .3s;
}

ul li a:hover{
    color:orange;
}

/* Main style section, first part */
#firstBody{
    display: flex;
    padding: 0.5rem 7rem;
    gap: 4rem;
    background-color: black;
    color: white;
}

#intro{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    margin: auto;
}

#intro button{
    width: 20%;
    padding: 10px 30px;
    border-radius: 7px;
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: bold;
}